/* Global variables */
:root {
	--color-light-gray: hsl(220, 10%, 85%);
	--color-red: hsl(0, 80%, 48%);
	--color-yellow: gold;
	--color-green: hsl(85, 90%, 37%);
	--color-orange: hsl(30, 100%, 50%);
	--color-blue: hsl(210, 80%, 45%);
	--color-purple: purple;
	--duration-move: .1s; /* Duration to move by 1 cell */
	--duration-fade: .4s;
}

@keyframes disappear {
	to {
		opacity: 0;
	}
}

@keyframes pulse-animation {
	0% {
		transform: scale(1);
		filter: saturate(100%);
		}
	50% {
		transform: scale(1.2);
		filter: saturate(200%);
		}
	100% {
		transform: scale(1);
		filter: saturate(100%);
	}
}


* {
    box-sizing: border-box;
}

html {
	display: flex;
	min-height: 100vh;
	font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

body {
	margin-top: 10px;
}


.hidden {
	display: none;
}

.no-borders {
	border: none;
}

.bigfont {
	font-size: 60px;
}

.background-blue {
	background-color: var(--color-blue);
}

.background-purple {
	background-color: var(--color-purple);
}

.background-green {
	background-color: var(--color-green);
}

.background-red {
	background-color: var(--color-red);
}

.background-pink {
	background-color: pink;
}

.default-cursor {
	cursor: default;
}

.no-select {
	user-select: none;
}

.pulse {
	animation-name: pulse-animation;
	animation-duration: 1250ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.flex-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.flex-subcontainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-subsubcontainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


header {
	margin-right: 10px;
	text-align: center;
}

#title-text {
	color: var(--color-blue);
	font-size: 48px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
}

#score-label {
	font-size: 32px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
	background-color: lightgray; /* default */
	border-radius: 6px;
}

button {
	padding: 10px 0px;
	color: white;
	border-radius: 6px;
	border: 0px;
	width: 100%;
	font-size: 18px;
	margin-top: 10px;
}

button:hover {
	filter: brightness(125%);
	cursor: pointer;
}

button:active {
	filter: brightness(125%);
}

button:disabled  {
	background-color: var(--color-light-gray) !important;
	color: white !important;
	filter: brightness(75%) !important;
	cursor: not-allowed !important;
}

main {
	width: 50%;
	margin-right: 10px;
}

.board {
	/* Variables to use in creating the board */
	--grid-color: silver;
	--board-size: 400px;
	--grid-gap: 1px;
	--cell-outer: calc(var(--board-size) / var(--size));
	--cell: calc(var(--cell-outer) - var(--grid-gap));
}

.candy-img {
	height: var(--cell);
	width: var(--cell);
	vertical-align: middle;
}

table {
	max-width: calc(var(--board-size));
	width: calc(var(--board-size) + var(--cell));
	border-spacing: 0px;
	border-collapse: collapse;
}

.table-font {
	font-size: 24px;
	text-align: center;
	font-weight: bold;
}

th {
  height: var(--cell-outer);
  width: var(--cell-outer);
}

td {
  height: var(--cell);
  width: var(--cell);
  border: var(--grid-gap) solid rgb(185,189,198);
}


.button-grid-container-one {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	margin: auto;
	max-width: 120px;
}
.button-grid-container-three {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
	grid-column-gap: 15px;
}
.button-grid-item {
	text-align: center;
	margin-top: 10px;
	min-width: 120px;
}

.arrow-button-image {
	width: 18px;
}

input[type=text] {
	margin-top: 10px;
	height: 90%;
	padding-bottom: 10px;
	width: 100%;
	border-radius: 8px;
	border: 2px solid rgb(185,189,198);
	max-width: 120px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

@media (max-width: 900px) and (min-width: 600px) {
	.flex-container {
		flex-direction: column;
	}
	.flex-subcontainer {
		flex-direction: row;
	}
	.flex-subitem {
		margin-right: 10px;
	}
	#newGameButton {
		width: 120px;
	}
	#showHintButton {
		width: 120px;
	}
}

@media (max-width: 600px) {
	.flex-container {
		flex-direction: column;
	}
	.flex-subcontainer {
		flex-direction: column;
	}
	.flex-subsubcontainer {
		width: 100%;
		flex-direction: column;
	}
	#score-label {
		width: 80%;
	}
	#newGameButton {
		width: 80%;
	}
	#showHintButton {
		width: 80%;
	}
}